@import '../abstracts/variables';

.chips__container{
    display: flex;   
    position: absolute;
    top: 32px;
    left: 32px;
    gap: 4px;
}

.card__chips {
    border-radius: 4px;
    padding: 4px 8px;
    color: $chips-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

    &--hit {
        background: $chips-hit-bg; 
    }

    &--new {
        background: $chips-new-bg;
    }

    &--discount {
        background: $chips-discount-bg;
    }
}

