@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import '../abstracts/variables';
* {
    font-family: 'Cabin', sans-serif;
}

body {
    background-color: $background-primary;
}

main {
    position: relative;
}

.bestsellers {
    width: 1296px;
    margin: 136px auto 0;
}