//COLORS

$background-primary: #EEEEEF;
$background-header: #10BBD5;
$background-navigation: #fff;
$background-btn: #4C394E;
$background-card:#fff;
$background-footer: #4C394E;
$link-color: black;
$primary-color: #1F1F1F;
$chips-color: #F8FDFE;
$chips-hit-bg: #4200FF;
$chips-new-bg: #AF39E7;
$chips-discount-bg: #EA33C0;
$card-border-color: #A8A8A8;
$card-author-color: #8E8E8E;
$card-book-value: #E90000;
$card-book-old-price: #8E8E8E;